<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container">-->
<div class="languages">


    <button class="butt"  (click)="switchLanguage('en')"><a ><img src="assets/images/eng.png" title="Անգլերեն" > </a></button>



    <button class="butt" (click)="switchLanguage('ru')"><a ><img src="assets/images/ru.png" title="Ռուսերեն">  </a></button>

   <button class="butt" (click)="switchLanguage('hay')"><a ><img src="assets/images/arm.png" title="Հայերեն"></a></button>





</div>
<app-navigation></app-navigation>
<router-outlet></router-outlet>

<!--    <div class="container">-->
<!--        <br>-->
<!--        <br>-->
<!--        <hr>-->
<!--        <div class="text-center">-->
<!--            <a style="color: inherit" href="https://github.com/zhulinn"><i class="fab fa-github fa-3x"></i></a>-->
<!--        </div>-->


        <!--Copyright-->
<!--        <div class="footer-copyright py-3 text-center">-->
<!--            © 2020 Copyright:-->
<!--            <a href="https://zlin.me"> Arman </a>-->
<!--        </div>-->
        <!--/.Copyright-->
<!--    </div>-->
<!--</div>-->
<app-footer></app-footer>

