<!-- МОДУЛЬ-1: ШАПКА САЙТА С ГЛАВНЫМ МЕНЮ САЙТА -->
<header id="header-product" class="d-flex justify-content-center m-auto my-contacts-header">
<!--  &lt;!&ndash;        Главное Меню &ndash;&gt;-->
<!--  <div class="my-wrapper d-flex flex-column px-0">-->
<!--    &lt;!&ndash; Лого, Меню, Поиск &ndash;&gt;-->
<!--    <div class="my-header-nav">-->

<!--      <nav class="navbar navbar-expand-lg navbar-light px-0">-->
<!--        &lt;!&ndash; Логотип сайта &ndash;&gt;-->
<!--        <a class="navbar-brand" href="#">-->
<!--          <img src="../../assets/images/logo.png" alt="">-->
<!--        </a>-->
<!--        &lt;!&ndash; Кнопка свернутого меню &ndash;&gt;-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        &lt;!&ndash; Главное меню  и кнопка поиска по сайту&ndash;&gt;-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--          <ul class="navbar-nav">-->
<!--            &lt;!&ndash; Блок Меню сайта &ndash;&gt;-->
<!--            <li class="nav-item ">-->
<!--              <a class="nav-link" href="index.html">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link " href="product.html">Products</a><span class="sr-only">(current)</span>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">History</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="deals.html">Showroom</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" href="#">Contact</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          &lt;!&ndash; Блок Поиска посайту &ndash;&gt;-->
<!--          &lt;!&ndash; **************************************************************** &ndash;&gt;-->
<!--          &lt;!&ndash; Отображение дива с формой поиска на сайте,  а не просто картинка &ndash;&gt;-->
<!--          <div class="my-block-search my-block-search__page-product">-->
<!--            <button class="my-block-search__btn"><i class="fas fa-search fa-2x"></i></button>-->
<!--            <div class="my-block-search__input">-->
<!--              <input placeholder="Введите свой запрос..." type="text">-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; *************************************************************** &ndash;&gt;-->
<!--        </div>-->
<!--      </nav>-->

<!--    </div>-->
    <!-- Главный заголовок на странице -->
    <div class="my-header-title row ">
      <div class="col-12" >
        <h1 class="ContUss">Contact Us</h1>
      </div>
    </div>
<!--  </div>-->
</header>

<!-- МОДУЛЬ-5:__КАРТОЧКИ С КОНТАКТАМИ -->
<div class="container contacts-page px-0">
  <div class="row">
    <div class="col-4 contacts-page__items">
      <div class="contacts-page__item">
<!--        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aecc0a430d255229702a81a89e34826503ddfa2959ade9f3cca0638d03635a64b&amp;source=constructor"-->
<!--                height="100%" width="100%" frameborder="0">-->
<!--        </iframe>-->
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac152bfb55e25c4a2db30eba38d0714ec4f4199611fe58f8c1092308f88c71c1d&amp;source=constructor"
                width="100%" height="100%" frameborder="0">
        </iframe>

        <div class="card contacts-page__content text-center rounded-0" style="width: 100%;">
          <img class="card-img-top" src="../../assets/images/map-marker.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Erevan</h5>
            <p class="card-text">
              <span>Phone:</span> <br>
              <b>+7 977 3206078</b> <br><br>
              <span>Email:</span> <br>
              <b>arman.setoyan@mail.ru</b> <br><br>
              <span>Address:</span> <br>
              <span style="font-weight: 500;">Chexov Street</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 contacts-page__items">
      <div class="contacts-page__item">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac152bfb55e25c4a2db30eba38d0714ec4f4199611fe58f8c1092308f88c71c1d&amp;source=constructor"
                width="100%" height="100%" frameborder="0">
        </iframe>

        <div class="card contacts-page__content text-center rounded-0" style="width: 100%;">
          <img class="card-img-top" src="../../assets/images/map-marker.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Moscow</h5>
            <p class="card-text">
              <span>Phone:</span> <br>
              <b>+7 977 3206078</b> <br><br>
              <span>Email:</span> <br>
              <b>arman.setoyan@mail.ru</b> <br><br>
              <span>Address:</span> <br>
              <span style="font-weight: 500;"> Sovetskaya Street</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 contacts-page__items">
      <div class="contacts-page__item">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac152bfb55e25c4a2db30eba38d0714ec4f4199611fe58f8c1092308f88c71c1d&amp;source=constructor"
                width="100%" height="100%" frameborder="0">
        </iframe>

        <div class="card contacts-page__content text-center rounded-0" style="width: 100%;">
          <img class="card-img-top" src="../../assets/images/map-marker.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">California</h5>
            <p class="card-text">
              <span>Phone:</span> <br>
              <b>+7 977 3206078 </b> <br><br>
              <span>Email:</span> <br>
              <b>arman.setoyan@mail.ru</b> <br><br>
              <span>Address:</span> <br>
              <span style="font-weight: 500;">Wall Street</span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- МОДУЛЬ-4: ФУТЕР САЙТА, КОНТАКТЫ, ... -->
<!--<footer id="my-footer" class="container">-->
<!--  <div class="row sub-wrap_top">-->
<!--    <div class="col-3 contact">-->
<!--      <h5>Contact Us</h5>-->
<!--      <p class="pt-1">Australia.</p>-->
<!--      <p>Contact us : arman.setoyan@mail.ru</p>-->
<!--    </div>-->
<!--    <div class="col-6 useful-info">-->
<!--      <div class="container">-->
<!--        <div class="row useful-info__header">-->
<!--          <div class="col-12 pl-4">-->
<!--            <h5>Useful Information</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row useful-info__links">-->
<!--          <div class="col-6 pl-5 pt-1">-->
<!--                          <span class="useful_link">-->
<!--                            <a href="#">Sales terms</a>-->
<!--                            <a href="#">Customer care</a>-->
<!--                            <a href="#">Delivery</a>-->
<!--                        </span>-->
<!--          </div>-->
<!--          <div class="col-6 pt-1 pr-0 pl-0">-->
<!--                           <span class="useful_link">-->
<!--                            <a href="#">Architect accounts</a>-->
<!--                            <a href="#"> Careers</a>-->
<!--                            <a href="#">Exchanges & returns</a>-->
<!--                        </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-3 form">-->
<!--      <h5>Let’s Stay in Touch!</h5>-->
<!--      <p class="pt-1">Suscribe to know about our latest news,-->
<!--        products and special offers just for-->
<!--        suscribers.</p>-->
<!--      <form action="#">-->
<!--        &lt;!&ndash; ** РЕШЕНИЕ КАК ВСТАВИТЬ ИКОНКУ ИЗ AWESOME В ПОЛЕ <input> **-->
<!--        Обернул в обертку и этой обертке дал позишен релатив, а-->
<!--        уже внутри иконке позишен абсолют и дальше двигал &ndash;&gt;-->
<!--        <div class="input-wrap">-->
<!--          <button type="submit" style="display: inline-block">-->
<!--            <a href="#"><i class="far fa-paper-plane"></i></a>-->
<!--          </button>-->
<!--          <input type="email" placeholder="your email address">-->
<!--        </div>-->

<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row sub-wrap_bottom">-->
<!--    <div class="col-4 copy-right">-->
<!--            <span class="">-->
<!--                © Copyright  All Rights Reserved.-->
<!--            </span>-->
<!--    </div>-->
<!--    <div class="col-4 social">-->
<!--             <span class="">-->
<!--                <a href=""><img src="../../assets/images/social-links.png" alt="Ссылка на социальные сети"></a>-->

<!--            </span>-->
<!--    </div>-->
<!--    <div class="col-4 agreement">-->
<!--            <span class="">-->
<!--                <a href="">Terms & Conditions </a>/-->
<!--                <a href=""> Privacy policy & Cookies</a>-->
<!--            </span>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="../../assets/js/bootstrap.js"></script>-->
<!--&lt;!&ndash; MDB core JavaScript &ndash;&gt;-->
<!--<script type="text/javascript" src="js/mdb.js"></script>-->
<!--&lt;!&ndash; Скрипт для открытия поля input в форме поиска на сайте &ndash;&gt;-->
<!--<script>-->
<!--  $(function () {-->
<!--    $('button').on('click', function () {-->
<!--      $('.my-block-search__input').toggleClass('__opened');-->
<!--    });-->
<!--  });-->
<!--</script>-->
<!--&lt;!&ndash; Скрипт для пиксель-перфект вёрстки &ndash;&gt;-->
<!--<script src="js/pixelScreen-contacts.js"></script>-->
